.Sidebar {
    .SubMenu {
        ul {
            background-color: #1E3FE4 !important;
        }
    }

    .menuItem {
        margin: 10px 0px;
        padding: 0px 10px;

        .ant-menu-submenu-title {
            padding: 0px 10px !important;
        }

        .anticon {
            width: 25px;
            height: 20px;
            color: #FFF;
            font-size: 20px;
        }

        .ant-menu-title-content {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;

            color: #FFFFFF;
        }
    }

    .AvatarSection {
        padding: 0 !important;
        height: 100px !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        align-content: flex-start !important;
        justify-content: flex-start !important;
        text-align: center !important;
        padding: 0px 10px;

        .ant-menu-title-content {
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            align-content: flex-start !important;
            justify-content: flex-start !important;
            padding: 50px 0px !important;
            width: 100% !important;
            height: 100px !important;
        }

        .Image {
            width: 70px !important;
            height: 70px !important;
            border-radius: 100% !important;
            border: 2px solid #FFF !important;
            margin: 10px 15px;
        }

        .collapsedImages {
            width: 40px !important;
            height: 40px !important;
            border-radius: 100% !important;
            border: 1px solid #FFF !important;
            margin: 5px;
        }

        .Text {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 39px;
            padding-top: 15px;
            /* identical to box height */


            color: #FFFFFF;
        }
    }
}
.ant-tooltip-inner{
    .collapsedImages {
        width: 70px !important;
        height: 70px !important;
        border-radius: 100% !important;
        border: 1px solid #FFF !important;
        margin: 5px;
    }
}