.Table {
    color: #656565 !important;

    .ant-checkbox-inner {
        border-radius: 100% !important;
        border: 2px solid #5D96FD !important;
        box-sizing: border-box !important;
        width: 21px !important;
        height: 21px !important;
    }


    .Tag {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        color: #FFFFFF;
        border-radius: 20px;
        padding: 5px 10px
    }

}
.POGenerate{
    td{
        border-bottom: 1px solid #a19f9f !important;
        border-right: 1px solid #a19f9f !important;
    }
    th{
        border-bottom: 1px solid #a19f9f !important;
        border-right: 1px solid #a19f9f !important;
    }
    .ant-table.ant-table-bordered > .ant-table-container {
        border-left: 1px solid #a19f9f !important;
    }
}